@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 25, 25, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply text-zinc-300;
  /* background: rgb(var(--background-rgb)); */
  @apply bg-zinc-900;

  /* Fix mobile 100vh scrollbar issue */
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

html {
  height: fill-available;
  height: -webkit-fill-available;
}
